body {
    padding-top: 70px;
    padding-bottom: 10px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.splitter span:after {
    content: ', ';
}

.splitter span:last-child:after {
    content: '';
}

#questionnaires .selectedcolor {
    background-color: #0f0f0f;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

#questionnaires .colordialog-black {
    background-color: #0f0f0f;
}

#questionnaires .colordialog-red {
    background-color: #b92c28;
}

#questionnaires .colordialog-green {
    background-color: #398439;
}

#questionnaires .colordialog-yellow {
    background-color: #ffff00;
}

#questionnaires .colordialog-blue {
    background-color: #337ab7;
}

#questionnaires .colordialog-white {
    background-color: #f7f7f7;
}

#questionnaires .colordialog-addcolor1 {
    background-color: #a416c6;
}

#questionnaires .colordialog-addcolor2 {
    background-color: #ff8412;
}

#questionnaires .colordialog-addcolor3 {
    background-color: #00f6ff;
}

#questionnaires .panel {
    min-height: 350px;
}

#element .table tr td:first-child {
    font-weight: bold;
}

#element .photo {
    margin-bottom: 5px;
}

#element .photo img {
    border: 1px solid #adadad;
}
