.form-group.required .control-label:after {
    content: "*";
    color: red;
}

body {
    padding-top: 70px;
    padding-bottom: 10px;
}

#questionnaires .selectedcolor {
    background-color: #0f0f0f;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.colordialog-black {
    background-color: #0f0f0f;
}

.colordialog-red {
    background-color: #b92c28;
}

.colordialog-green {
    background-color: #398439;
}

.colordialog-yellow {
    background-color: #ffff00;
}

.colordialog-blue {
    background-color: #337ab7;
}

.colordialog-white {
    background-color: #f7f7f7;
}

.splitter span:after {
    content: ', ';
}

.splitter span:last-child:after {
    content: '';
}

#element .table tr td:first-child {
    font-weight: bold;
}

#element .photo {
    margin-bottom: 5px;
}

#element .photo img {
    border: 1px solid #adadad;
}
